<nav [ngClass]="isScrolled ? 'navbar-scrolled' : 'navbar-top'" @slideInAnimation>
    <ul class="nav-links">
        <li>
            <a routerLink="/home" fragment="home" routerLinkActive="text-light" style="gap: 15px;">
            <fa-icon [icon]="faHome"></fa-icon>  Home
       </a>
    </li>
        <li><a routerLink="/about" fragment="about" routerLinkActive="text-light" style="gap: 15px;">
            <fa-icon [icon]="faPerson"></fa-icon>  About
         </a>
        </li>
        <li>  <a routerLink="/works" fragment="works" routerLinkActive="text-light" style="gap: 10px;">
           <fa-icon [icon]="faCode"></fa-icon>  Projects
       </a>
        </li>
        <li>
            <a routerLink="/exp" fragment="exp" routerLinkActive="text-light" style="gap: 10px;">
                <fa-icon [icon]="faBriefcase"></fa-icon>  Experience
           </a>
           </li>  
       <li>
        <a routerLink="/contact" fragment="contact" routerLinkActive="text-light" style="gap: 10px;">
           <fa-icon [icon]="faContact"></fa-icon>  Contact
       </a>
       </li>
      </ul>
</nav>