<section id="about">
    <div class="about-container">
        <!-- Left Section -->
        <div class="glitch-wrapper" [@fadeInLeft]="animationState">
          <h1 class="glitch-text" data-glitch="ABOUT.">ABOUT.</h1>
        </div>
      
        <!-- Right Section -->
        <div class="right-section" [@fadeInUp]="animationState">     
          <div class="content">
            <p class="description">
                Hey there! I'm Monish Devineni I'm a Computer Science graduate student, software developer and a Cloud Enthusiast. 
                I specialize in Full Stack Development with expertise in Java and Python, while also adapting seamlessly to backend and data-focused project needs. 
                With a solid foundation in algorithms, programming and
                continuously explore innovative technologies to solve complex problems efficiently.                  
            </p>
            <p class="description">
              Currently, I am seeking opportunities to apply my skills in software engineering, 
                 Cloud engineer and also as a FullStack Developer where I can make meaningful contributions 
                 while continuously learning and growing.
            </p>
          </div>
        </div>
         
</div>
</section>