.experience{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin: auto;
    padding: 40px 20px;
    background-color: #101414;
}
.section-title {
    font-size: 2.5rem;
    font-weight: bold;
    color: #e0e3e2;
    margin-left: 20px;
  }

  .dot {
    color: #6effa3;
  }

  .experience-card {
    background: #1a2332;
    padding: 2rem;
    border-radius: 12px;
    text-align: left;
    max-width: 800px;
    margin: 0 auto;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  }

  .company-name {
    font-size: 1.2rem;
    font-weight: bold;
    color: #e0e3e2;
  }

  .role {
    display: flex;
    align-items: center;
    margin: 1rem 0;

    .dot-icon {
      width: 12px;
      height: 12px;
      background: #6effa3;
      border-radius: 50%;
      margin-right: 10px;
    }

    .job-title {
      font-size: 1.1rem;
      color: #6effa3;
      font-weight: bold;
    }

    .job-duration {
      color: #e0e3e2;
      font-size: 1rem;
      opacity: 0.8;
    }
  }

  .job-description {
    font-size: 0.8rem;
    color: #e0e3e2;
    margin-top: 1rem;
  }