<section id="exp">
<div style="background-color: #0a0a0a;">
<h2 class="section-title">Work Experience<span class="dot">.</span></h2>
    <div class="experience-card">
      <h3 class="company-name">Honeywell Connected Enterprises</h3>
  
      <div class="role">
        <div>
          <h4 class="job-title">Intern Software Developer</h4>
          <p class="job-duration">Jan 2023 - July 2023</p>
        </div>
      </div>
  
      <ul class="job-description">
        <li>
          End-user experience was developed by using React JS and Leaflet JS integrating interactive elements and
custom components and by replacing legacy UI build by using JAVA with React JS the overall performance the
application was improved by 50%.
        </li>
        <li>
          Restructured backend systems to support JSON formatting for streamlined mapping capabilities while
implementing a robust RESTful API that increased data retrieval speed by over 30%.
        </li>
        <li>
          Drove app reliability by conducting rigorous code reviews that led to a 15% reduction in bug occurrences and
utilized POSTMAN to perform detailed unit testing, resulted in increase of overall system functionality.
        </li>
      </ul>
    </div>
</div>
</section>