.skills-page {
  padding: 30px;
  max-width: 1200px;
  background-color: #101414;
  margin-bottom: -60px;
}

.page-title {
  text-align: left;
  font-size: 2.5rem;
  color: #e0e3e2;
  margin-bottom: 30px;
}
.arrow {
  font-size: 1.5rem;
  transform: rotate(0deg);
  display: inline-block;
  color: #e0f0ff;
  animation: bounce 1.5s infinite;
}

.icon{
  font-size: 1.5rem;
  margin: 10px;
  transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
  color: #027070;
  &:hover {
    transform: scale(1.2);
    color: #101414;
  }
}

/***************************************/

.tech-stack {
  text-align: center;
  padding: 40px;
  background-color: #101414;
}

.title {
  font-size: 3rem;
  font-weight: bold;
  color: #e0e3e2;
}

.subtitle {
  font-size: 1.2rem;
  font-weight: bold;
  color: #666;
  margin-bottom: 30px;
}

.icons-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.icon {
  width: 100px;
  height: 100px;
  background: radial-gradient(circle, #e0e0e0, #b0b0b0);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  animation: float 3s infinite ease-in-out;
}

.icon img {
  width: 60%;
  height: auto;
}

@keyframes float {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-15px); }
  100% { transform: translateY(0px); }
}




@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
}