.layout {
    max-width: 1024px; 
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    background: linear-gradient(to right, #0f1e0f, #000000, #01050c);
  
    // Medium screens (md: 768px and above)
    @media (min-width: 768px) {  
      padding-left: 2rem;  // md:px-8 (32px)
      padding-right: 2rem; // md:px-8 (32px)
    }

      // Mobile screens: Small phones
  @media (max-width: 480px) {  
    padding: 64px 0.5rem;  // Reduce padding for small screens
    font-size: 0.9rem;     // Decrease font size for better fit
    text-align: left;      // Align text to the left for readability
  }
  
    // Large screens (lg: 1024px and above)
    @media (min-width: 1024px) {
      padding-left: 5rem;
      padding-right: 5rem;
    }

      // 14-inch screen (1366px - 1600px)
  @media (min-width: 1366px) and (max-width: 1600px) {
    padding-left: 8rem;
    padding-right: 8rem;
    font-size: 1.1rem; // Slightly increase font size for readability
  }
  
    // Extra large screens (xl: 1280px and above)
    @media (min-width: 1280px) {
      padding-left: 20rem;
      padding-right: 20rem;
    }
}